.genres-page {
    padding: 20px;
  }
  
  .loading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .genres-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .genre-container {
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, background-color 0.3s;;
    height: 600px;
  }
  
  .genre-container:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .genre-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .genre-container:hover .genre-content {
    opacity: 1;
  }
  
  .genre-title {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    margin: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 10px;
  }
  
  .genre-description {
    font-size: 14px;
    margin-top: 5px;
  }

  @media (min-width: 768px) {
    .genres-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .genres-list {
      grid-template-columns: 1fr;
    }
  }
  