.favourites {
    padding: 20px;
  }
  
  .favourite-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .favourite-item {
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
  }
  
  .favourite-info {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1; /* Make the container take up available space */
  }
  
  .show-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    flex-shrink: 0; /* Prevent the image from shrinking */
  }
  
  .episode-details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Make the details take up available space */
  }
  
  .episode-details h2,
  .episode-details h3,
  .episode-details h4,
  .episode-details p {
    margin: 0;
    word-wrap: break-word; /* Ensure text wraps properly */
  }
  
  .timestamp {
    color: #aaa;
    font-size: 0.9em;
  }
  
  .delete-button {
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 1.5em;
    flex-shrink: 0; /* Prevent the button from shrinking */
  }
  
  .delete-button:hover {
    color: darkred;
  }
  