.home {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .show-container {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
  }