.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {

    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

@media (max-width: 768px) {
    .nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .nav.open {
      display: flex;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
  
    .menu-toggle {
      display: block;
    }
}
