.header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo a {
    font-size: 24px;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    margin-left: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {

    text-decoration: none;
    font-size: 18px;
}

.icon {
    width: 24px;
    height: 24px;
}


.nav-icon {
    display: none;
    
}


.menu-toggle {
    display: none;
    cursor: pointer;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon {
cursor: pointer;
}
  

@media (max-width: 768px) {
    .nav {
      display: none;
      position: absolute;
      top: 60px;
      left: 50%;
      transform: translateX(-70%);
      /* right: 0; */
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .nav.open {
      display: flex;
    }

    .nav-title {
        display: none;
    }
  
    .nav-links {
      flex-direction: column;
      gap: 20px;
    }

    .nav-links a {
        font-size: 22px; 
    }

    .nav-icon {
        display: flex;
        width: 30px;
        height: 30px;
    }
  
    .menu-toggle {
        display: block;
        position: absolute;
        top: 10px;
        left: 50%;
        /* transform: translateX(80%); */
    }
}
