.body-content {
    margin-top: 180px;
    margin-bottom: 180px;
    padding-left: 20px;  
    padding-right: 20px;
  }


body {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: light 300;
  font-style: normal;
}

@media (max-width: 768px) {
  .body-content {
    margin-top: 80px;
    padding-left: 10px; 
    padding-right: 10px;
  }
}
