.audio-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #222;
    color: white;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
  }

  .audio-player-content {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
  }

  .audio-player-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .episode-image {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-right: 20px;
  }

  .episode-details {
    display: flex;
    flex-direction: column;
  }

  .episode-title {
    margin: 0;
    font-size: 1.2rem;
  }
  

  .episode-description {
    display: none;
  }
  
  audio {
    width: 300px;
    margin-right: 20px;
  }

  .controls {
    display: flex;
    align-items: center;
  }

  .controls button {
    border: none; 
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
  }

  .controls button:hover {
    background: #666;
  }