.audio-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #ffffff;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  position: relative;
}

.track-info-section {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.display-track {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.track-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 20px;
}

.track-info {
  margin-left: 10px;
  flex: 1;
}

.track-title {
  margin: 0;
  font-size: 1.2rem;
}

.track-description {
  margin: 0;
  font-size: 0.9rem;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8em;
}

.favorite-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  margin-right: 25px;
}

.controls {
  display: flex;
  justify-content: center;
}

.controls button {
  background: #444;
  color: white;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.controls button:hover {
  background: #666;
}

.progress-container {
  width: 100%;
  height: 10px;
  background: #444;
  cursor: pointer;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background: #888;
  width: 0;
}

