.user-input {
  display: flex;
  flex-direction: column; /* Stack vertically by default */
  gap: 1rem;
  margin: 1rem 0;
  position: relative;
}

.sort-button-container {
  display: flex;
  justify-content: flex-start;
}

.search-query-container {
  display: flex;
  justify-content: flex-end;
}



.home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}


  .show-container {
    position: relative;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
  }

  .show-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }

  .show-content {
    position: relative;
    z-index: 1;
  }

  .show-title {
    font-size: 2em;
    margin: 0;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }
  
  .show-description {
    margin: 10px 0;
  }

  .show-seasons {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: large;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
  }

  .show-updated {
    font-size: 0.8rem;
    color: #888;
    margin-top: 10px;
  }
  

  @media (min-width: 768px) {
    .home {
      grid-template-columns: 1fr 1fr;
    }
    .user-input {
      flex-direction: row; /* Arrange side-by-side for larger screens */
      justify-content: space-between;
    }
  }